/* Testing autoprefixer */
 
.autoprefixer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  border:1px solid gold;
}
 
.autoprefixer a {
  color:blue;
}
 
/* Testing cssnext */
 
.cssnext {
  background: rgba(255, 0, 0, 0.9);
}
 
/* Testing precss */
 
.precss {
  background: red
}

.lerete {
  font-size: 20px;
  color:gold;
}

.lereter {
  color:red;
}
