/* Testing autoprefixer */
 
.autoprefixer {
  display: flex;
  border:1px solid olive;
}
 
/* Testing cssnext */
 
.cssnext {
  background: color(red alpha(-10%));
}
 
/* Testing precss */
 
.precss {
  @if 3 > 5 {
    background: green;
  }
  @else {
    background: red;
  }
}

