/* Testing autoprefixer */

$amarillo: gold;
$rojo: red;
 
.autoprefixer {
  display: flex;
  border:1px solid gold;
  a {
  	color:blue;
  }
}
 
/* Testing cssnext */
 
.cssnext {
  background: color(red alpha(-10%));
}
 
/* Testing precss */
 
.precss {
  @if 3 > 5 {
    background: green;
  }
  @else {
    background: red;
  }
}

.lerete {
  font-size: 20px;
  color:$amarillo;
}

.lereter {
  color:$rojo;
}
